# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Node modules (if you add them in the future)
node_modules

# Editor files
.idea
.vscode

# Readme and documentation
README.md